        <header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    

                    <!-- Primary Navigation
                    ============================================= -->
                    

                    <nav id="primary-menu" class="dark">

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500" style="border:none">                            
                            <li><a href="#" data-href="#section-about"><div>About</div></a></li>
                            <li><a href="#" data-href="#section-projects"><div>Projects</div></a></li>
                            <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
                        </ul>

                       
                        

                    </nav><!-- #primary-menu end -->



                </div>

            </div>

        </header><!-- #header end -->


                    