<nav id="primary-menu" class="dark">

                        <ul>
                            <li class="current"><a href="/"><div>Home</div></a>
                                
                            </li>
                            <li><a href="/about"><div>About</div></a>
                                
                            </li>
                        </ul>

                        <!-- Top Cart
                        ============================================= -->
                        

                        <!-- Top Search
                        ============================================= -->
                        

                    </nav><!-- #primary-menu end -->