<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    {{>head}}

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        {{>nav}}

        <!-- Content
        ============================================= -->
        <section id="content" style="background:#f9f9f9">

            <div class="content-wrap">

                <div class="container clearfix">

                  <h1>{{ message }}</h1>
                  <h2>{{ error.status }}</h2>

                </div>

            </div>

       





        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        {{>footer}}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>


