<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    {{>head}}

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        {{>nav}}
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-about">                
              <section id="section-about" class="page-section">
                <div class="row clearfix common-height">
                
                  
                  
                    <div class="col-md-6 center col-padding" style="background: url('images/fpan/with_Jin_angelhack-compressor.jpg') center center no-repeat; background-size: cover;">
                        <div>&nbsp;</div>
                    </div>
                  
                    <div class="col-md-6 center col-padding" style="background-color: #F5F5F5;">
                        <div>
                            <div class="heading-block nobottomborder">
                                
                                <h3>WELCOME TO MY PORTFOLIO WEBSITE</h3>
                            </div>

                            <div class="center bottommargin">
                                
                                    <!-- <img class="profile-icon" src="images/download-1.jpeg"> -->
                                    <!--  PUT custom css under public/css/custom.css NOT WORK becasue the theme does not have custom.css from the start -->
                                    <img style="width:210px; border-radius:100px; margin-top:24px; border: 1px solid #ddd; padding:8px; background:#fff; background-color:rgba(0, 0, 0, .6)" src="images/fpan/portrait1-compressor.png">
                                    <!-- background-color:rgba(0, 0, 0, .6) -->
                                </a>
                            </div>Hi there! My name is Forrest Pan and I am a software developer based in New York City. I have been working with all kinds of clients building software solutions. I specialitze in Node, Express, React, and Redux. 

                            The things that I enjoy the most include building websites, going to hackathons, playing ping pong, and rock climbing. Not necessary in that order.</p>
                        </div>
                    </div>
                  
                </div> 
              </div>          
            
              
                <div class="section notopmargin notopborder">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                          <section id="section-projects" class="page-section">  
                            <h3>Recent Projects</h3>
                          </section>  
                        </div>
                    </div>
                </div>

                <div class="container clear-bottommargin clearfix">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="ipost clearfix">
                                <div class="entry-image">
                                    <a target="_blank" href="https://foodtoursofny.herokuapp.com"><img class="image_fade" src="images/fpan/foodtoursofny2.png" alt="Image"></a>
                                </div>
                                <div class="entry-title">
                                    <h3><a target="_blank" href="https://foodtoursofny.herokuapp.com">Food Tours of New York </a></h3>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li> html/css/javascript/node/express/jquery </li>
                                    
                                </ul>
                                <div class="entry-content">
                                    <p>New York Food Tours helps visitors enjoy the ultimate New York food and culture experience from a local’s point of view. Our expertise comes from a long history of tasting cultures all over the world. But, in the end, there is nothing like the food in New York City.  The food is so good we just had to share it with you. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="ipost clearfix">
                                <div class="entry-image">
                                    <a target="_blank" href="https://tjufe-ny.herokuapp.com/"><img class="image_fade" src="images/fpan/tjufe.png" alt="Image"></a>
                                </div>
                                <div class="entry-title">
                                    <h3><a target="_blank" href="https://tjufe-ny.herokuapp.com">Alumni Association</a></h3>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li> html/css/javascript/node/express/jquery </li>
                                    
                                </ul>
                                <div class="entry-content">
                                    <p>WE ARE PROUD ALUMNI of Tianjin University of Finance and Economics. Our members are awesome individuals. Getting together with awesome alumni makes powerful things happen. Here you can find a list of important announcements from leadership and members. We all love 天津财经大学美国同学会!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="ipost clearfix">
                                <div class="entry-image">
                                    <a target="_blank" href="https://campadvisor.herokuapp.com/"><img class="image_fade" src="images/2_campAdvisor.png" alt="Image"></a>
                                </div>
                                <div class="entry-title">
                                    <h3><a target="_blank" href="https://campadvisor.herokuapp.com/">Camp Advisor</a></h3>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li> Node/Express/React/Redux/Mongo DB/Cloudinary </li>
                                    
                                </ul>
                                <div class="entry-content">
                                    <p>Camp Advisor aggregates and publishes crowd-sourced reviews and recommendations about international camps. It also includes interactive camp forums that help Chinese parents find perfect camp programs for their children; the right camp size, the right country and location, and the perfect blend of activities and style.</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="ipost clearfix">
                                <div class="entry-image">
                                    <a target="_blank" href="https://td-jd-tc.herokuapp.com/"><img class="image_fade" src="images/fpan/New_Year_Extravaganza.png" alt="Image"></a>
                                </div>
                                <div class="entry-title">
                                    <h3><a target="_blank" href="https://td-jd-tc.herokuapp.com/">Lunar New Year Extravaganza</a></h3>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li> html/css/javascript/node/express/jquery </li>
                                    
                                </ul>
                                <div class="entry-content">
                                    <p>Happy Lunar New Year! Another Spring Festival alumni party is about to begin! Let us meet at Artosino Gallery, to welcome the arrival of the New Year!</p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                  

                    <!-- Contact Form
                    ============================================= -->
                    <!-- <div class="col_half">  -->
                      <section id="section-contact" class="page-section"> 
                        <div class="fancy-title title-dotted-border">
                            <h3>Send me an Email</h3>
                        </div>
                      
                        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

                        <!-- <form class="nobottommargin" id="template-contactform" name="template-contactform" action="/action" method="post"> -->
                        <form class="nobottommargin" id="template-contactform" name="template-contactform" action="/contact" method="post">


                            <div class="form-process"></div>

                            <div class="col_one_third">
                                <label for="template-contactform-name">Name <small>*</small></label>
                                <input type="text" id="template-contactform-name" name="fullName" value="" class="sm-form-control required" required/>
                            </div>

                            <div class="col_one_third">
                                <label for="template-contactform-email">Email <small>*</small></label>
                                <input type="email" id="template-contactform-email" name="email" value="" class="required email sm-form-control" required/>
                            </div>

                            <div class="col_one_third col_last">
                                <label for="template-contactform-phone">Phone</label>
                                <input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" required/>
                            </div>

                            <div class="clear"></div>

                            <div class="col_two_third">
                                <label for="template-contactform-subject">Subject <small>*</small></label>
                                <input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control" required/>
                            </div>

                            

                            <div class="clear"></div>

                            <div class="col_full">
                                <label for="template-contactform-message">Message <small>*</small></label>
                                <textarea class="required sm-form-control" id="template-contactform-message" name="message" rows="6" cols="30" required></textarea>
                            </div>

                            

                            <div class="col_full">
                                <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Send Message</button>
                            </div>

                        </form>
                        <br />
                        <br />
                      </section>  
                        <!--
                        <script type="text/javascript">

                            $("#template-contactform").validate({
                                submitHandler: function(form) {
                                    $('.form-process').fadeIn();
                                    $(form).ajaxSubmit({
                                        target: '#contact-form-result',
                                        success: function() {
                                            $('.form-process').fadeOut();
                                            $('#template-contactform').find('.sm-form-control').val('');
                                            $('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
                                            SEMICOLON.widget.notifications($('#contact-form-result'));
                                        }
                                    });
                                }
                            });

                        </script>-->

                    <!-- </div>--><!-- Contact Form End -->




                </div>

                

                

                    
                    



            </div>

            <div>

                <div class="postcontent notopmargin" style="background:#f9f9f9">
                    
                </div>

            <div>

        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        {{>footer}}

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
<!--
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
-->

    <script type="text/javascript" src="/build/vendor.min.js"></script>

</body>
</html>
